.layout{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-main{
  width: 100%;
  height: 100%;
}
.login-main .main{
  background: var(--grisClaro);
  width: 100%;
  overflow: hidden;
  border-left: none;
}
.loggedin{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 90vh;
  justify-items: center;
}

.main{
  border-left: 2px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-y: scroll;
}
@media only screen and (min-width: 766px){
  .loggedin{
    grid-template-columns: 18% 82%;
  }
}