.aside{
  height: 100%;
  width: 100%;
  background: var(--blue);
}

.aside h2{
  margin-top: 3rem;
  color: white;
  display: none;
  font-size: 2rem;
}

@media only screen and (min-width: 766px){
  .aside h2{
    display: block;
  }
}